*{
   padding: 0px;
   margin:0px;
   box-sizing: border-box;
}
nav{
   background-color:#010326;
   
}
.logo{
   padding: 20px;
   width: 80px;
}
nav ul li{
   padding: 20px;
   text-transform: uppercase;
   margin-right: 20px;
   display: inline-block;
}
.block{
   display: inline-block;
   border: 5px solid white;
   margin-left: 30px;
}
nav ul li a{
   color:#F2F2F2;
   text-decoration:none;
}

