*{
   background-color: #F28705;
   padding: 0px;
   margin:0px;
   box-sizing: border-box;
}
.logo{
   padding: 20px;
}
nav ul li{
   padding: 10px;
   text-transform: uppercase;
   color:#F2F2F2;
   background-color:#F28705;
   text-decoration:none;
}
nav{
   background-color:#010326;
   display: flex;
}

