*{
   padding: 0px;
   margin:0px;
   box-sizing: border-box;
}
nav{
   background-color:#010326;
   height: 70px;
}
.block{
   display: inline-block;
   margin: auto 20px;
   border: 2px solid white;
   height: 70px;
}
nav a{
   color:#F2F2F2;
   text-decoration:none;
   padding:20px;
   text-transform: uppercase;
}
nav li{
   display: inline-block;
}

