*{
   padding: 0px;
   margin:0px;
   box-sizing: border-box;
}
body {
  overflow-x: hidden;
  width: 100%;
  text-rendering: optimizeLegibility;
}
/* Site Navigation */
.site-navigation {
  margin: 0 auto;
  /*max-width: 1280px;*/
  padding: 30px 1em;
  background-color:#010326;
}
.site-header-left {
  display: inline-block;
}
.site-header-left li {
  line-height: 0;
}
.site-header-right {
  display: inline-block;
  float: right;
  margin: auto 20px;
}
.site-header-right li{
  display: inline;
   margin-top:20px;
}
.site-header-right li a {
  text-decoration: none;
  margin-left: 20px;
  color: #010326;
  background-color:#F28705;
  padding: 20px;
  border: 1px solid #F28705;
  border-radius: 15px 50px;
}
