*{
   padding: 0px;
   margin:0px;
   box-sizing: border-box;
}
nav{
   background-color:#010326;
}
.logo{
   padding: 20px;   
}
nav ul li{
   padding: 20px;
   text-transform: uppercase;
   margin-right: 20px;
   display: inline-block;
   margin-top: 0px;
}
.block{
   display: inline-block;
   margin: auto 30px;
   width:100px;
   height:50px;
}
nav ul li a{
   color:#F2F2F2;
   text-decoration:none;
}

