*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
 }
 
 body {
   height: 100vh;
   width: 100vw;
   overflow-x: hidden;
   text-rendering: optimizeLegibility;
 }
 /* Site Navigation */
 .site-navigation {
   margin: 0 auto;
   /*max-width: 1280px;*/
   padding: 0px 1em;
   background-color:#010326;
     height:70px;
 }
 .site-header-left {
   display: inline-block;
   
 }
 .site-header-left img{
  height: 60px;
  margin-top: 5px;
}
 .site-header-left li {
   line-height: 0;
   margin-left: 30px;
  
 }
 .site-header-right {
   float: right;
   margin-right:20px;
  /* margin-top:5px;*/
  /*height: 40px;*/
 }
 .site-header-right li{
   display: inline;
  
 }
 .site-header-right li a {
   text-decoration: none;
    margin-left: 20px;
    color: #F28705;
    padding: 5px;
    border: 1px solid #F28705;
    border-radius: 15px;
    display: inline-block;
    width: 180px;
    text-align: center;
    margin-top: 20px;
 }
 .bienvenida{
    background-image: url("sistema de oxigenacion.jpg");
    background-position: center;
    width:100%;
    height: 383px;
 }
 .bienvenida h1{
  color: #F2F2F2;
    background-color: rgba(1, 3, 38,0.6);
    padding: 15px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 48px;
    letter-spacing: 1px;
 }
 .bienvenida h1 span{
   color:#F28705;
 }
 .intro{
   background-color: #0D0D0D;
   padding: 30px;
   display:flex;
  /*justify-content: space-between;*/
   align-items:stretch;
     /*width:100%;*/
   flex-wrap: wrap;
   flex-direction: row;
     justify-content:center;
 }
 .boxdet{
  border: 1px solid #734002;
  padding: 30px;
  color:#F28705;
  /*margin: 30px 60px;*/
  line-height:3em;
  /*width: 30%;*/
  height: auto;
  text-align: justify;
  letter-spacing: 0.15em;
  width: 400px;
     flex-grow: 1;
     margin:20px;
 }
 .boxdet span{
   color:#F2F2F2;
   font-weight: bold;
 }
.boxdet ul{
    list-style-type:none;
    text-align:center;
}
.boxdet h2{
    
    text-align:center;
}
 .icono{
   width: 70px;
   height: 70pxpx;
  margin-left: 45%;
 }
 #parra2{
   margin-top:30px;
 }
/*.boxdet2{
    padding: 30px;
    width: 30%;
}
.boxdet2 img {
    width: 400px;
    height: auto;
}*/
/*
.mensaje{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.mensaje  li {
  font-size: 20px;
  line-height: 1.2em;
}
*/
/*#gif{
    width: 100%;
  
}*/
.peces{
   background-image: url("camionpeces.jpg"); 
   background-color:rgba(242, 135, 5, 0.5);
}
.boxdet2{
  border: 1px solid #734002;
  padding: 30px;
  color:#F28705;
  /*margin: 30px 60px;*/
  line-height:3em;
  /*width: 30%;*/
  height: auto;
  text-align: justify;
  letter-spacing: 0.15em;
  width: 100%;
  flex-grow: 1;
     
 }
