*{
   background-color: #F28705;
   padding: 0px;
   margin:0px;
   box-sizing: border-box;
}
nav{
   background-color:#010326;
   display: flex;
}
.logo{
   padding: 20px;
}
nav ul li{
   padding: 10px;
   text-transform: uppercase;
}
nav ul li a{
   color:#F2F2F2;
   text-decoration:none;
}

