*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
 }
 
 body {
   height: 100vh;
   width: 100vw;
   overflow-x: hidden;
   text-rendering: optimizeLegibility;
 }
 /* Site Navigation */
 .site-navigation {
   margin: 0 auto;
   /*max-width: 1280px;*/
   padding: 30px 1em;
   background-color:#010326;
 }
 .site-header-left {
   display: inline-block;
   
 }
 .site-header-left img{
  height: 80px;
  
}
 .site-header-left li {
   line-height: 0;
   margin-left: 30px;
  
 }
 .site-header-right {
   float: right;
   margin-right:20px;
   margin-top:5px;
  /*height: 40px;*/
 }
 .site-header-right li{
   display: inline;
  
 }
 .site-header-right li a {
   text-decoration: none;
   margin-left: 20px;
   color: #F28705;
   padding: 20px;
   border: 1px solid #F28705;
   border-radius: 15px;
   display:inline-block;
   width: 180px;
   text-align: center;
 }
 .bienvenida{
    background-image: url("sistema de oxigenacion.jpg");
    background-position: center;
    width:100%;
    height: 383px;
 }
 .bienvenida h1{
  color: #F2F2F2; 
  background-color: rgba(1, 3, 38,0.3);
  padding: 30px;
  font-family: 'Anton', sans-serif;
  text-align:center;
  font-size:48px;
  letter-spacing: 1px;
 }
 .bienvenida h1 span{
   color:#F28705;
 }
 .intro{
   background-color: #0D0D0D;
   padding: 30px;
   display:flex;
  justify-content: space-between;
   align-items:stretch;
     /*width:100%;*/
 }
 .boxdet{
  border: 1px solid #734002;
  padding: 30px;
  color:#F28705;
  /*margin: 30px 60px;*/
  line-height:3em;
  /*width: 50%;*/
  height: auto;
  text-align: justify;
  letter-spacing: 0.15em;
 }
 .boxdet span{
   color:#F2F2F2;
   font-weight: bold;
 }

 .icono{
   width: 70px;
   height: 70pxpx;
  margin-left: 45%;
 }
 #parra2{
   margin-top:30px;
 }
.boxdet2{
    flex-grow: 2;
    /*width: 50%;*/
    /*max-width: 50%;*/
    padding: 30px;
}
.boxdet2 img {
    width: 100%;
    height: auto;
}
/*
.mensaje{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.mensaje  li {
  font-size: 20px;
  line-height: 1.2em;
}
*/
/*#gif{
    width: 100%;
  
}*/
